<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" type="text/css" href="JQAssignment.css"> -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Email Addresses Entered:</h1>
	<div>
	{% for user in all_emails %}
			<p>ID: {{ user['id'] }}</p>
		   	<p>Email: {{ user['email'] }}</p>
		  	<p>Created: {{ user['created_at'] }}</p>
		   	<hr>
	{% endfor %}
	</div>
</body>